xsd/book-schema-draft.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <!-- Simple types to use in the content -->
    <xs:simpleType name="string255">
        <xs:annotation>
            <xs:documentation>Defines a string of no more than 255 characters</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="isbn">
        <xs:annotation>
            <xs:documentation>Defines a regular expression to match an ISBN number. Regex needs to be refined</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedLong">
            <xs:totalDigits value="10"/>
            <xs:pattern value="\d{10}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="align">
        <xs:annotation>
            <xs:documentation>Attribute ennumeration for elements that can be aligned</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="justify"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:attributeGroup name="genericPropertiesGroup">
        <xs:attribute name="id" type="xs:ID" use="optional">
            <xs:annotation>
                <xs:documentation>ID for the paragraph if any</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="class" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Class for the paragraph if any</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup> 
    
    <!-- Elements inside section -->
    <xs:element name="link">
        <xs:annotation>
            <xs:documentation>links... </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="genericPropertiesGroup"/>
            <xs:attribute name="href" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>Link destination</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="label" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>Text provided for accessibility</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="image">
        <xs:annotation>
            <xs:documentation>image and image-related attributes</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attributeGroup ref="genericPropertiesGroup"/>
            <xs:attribute name="src" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Source for the image. We may want to create a restriction to account for both local and remote addresses
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="height" type="xs:float" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Height for the image expressed as an integer
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="width" type="xs:float" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Width for the image expressed as an integer
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>            
            <xs:attribute name="alt" type="string255" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Alternate text contstained to 255 characters
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="align" type="align" use="optional" default="left">
                <xs:annotation>
                    <xs:documentation>
                        Optional alignment
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            
        </xs:complexType>
    </xs:element>
    
    <xs:element name="para">
        <xs:annotation>
            <xs:documentation>Para is the essential text content element. It'll get hairy because we
                have a lot of possible attributes we can use on it</xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:sequence>
                <!-- 
                    Style Elements. 
                    
                    We use strong and emphasis rather than bold and italics
                    to try and stay in synch with HTML and HTML5. We may add additional tags
                    later in the process.
                -->
                <xs:element name="strong" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="emphasis" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="underline" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="strike" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <!-- 
                    Organization Elements 
                -->
                <xs:element name="span" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="link" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            Links should happen inside paragraphs and it's an optional element inside.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="genericPropertiesGroup"/>
        </xs:complexType>
    </xs:element>
    <!-- Metadata element -->
    <xs:element name="metadata">
        <xs:annotation>
            <xs:documentation> Metadata section of the content. Still debating whether to move it
                inside section or leave it as a separate part. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:annotation>
                    <xs:documentation> First three elements in the metadata sequence: isbn, edition
                        and title </xs:documentation>
                </xs:annotation>
                <xs:element name="isbn" type="isbn"/>
                <xs:element name="edition" type="xs:integer"/>
                <xs:element name="title" type="string255"/>
                
                <xs:element name="author" minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation> Authors create the content. Element is required and you
                            should have at least one author to valdate the doc. </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="first-name" type="xs:string"/>
                            <xs:element name="surname" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="editor" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation> Editors can have several responsabilities. We define them
                            using the typeOfEditor child element. The element is optional. If it's
                            used we can have as many editors as we need </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="first-name" type="xs:string"/>
                            <xs:element name="surname" type="xs:string"/>
                            <xs:element name="typeOfEditor" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID"/>
                    </xs:complexType>
                </xs:element>

                <xs:element name="otherRole" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation> We define otherRole to indicate roles in the publishing
                            process that are not editors or authors. These can be reviewers,
                            illustrators </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="first-name" type="xs:string"/>
                            <xs:element name="last-name" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="section">
        <xs:annotation>
            <xs:documentation>section structure</xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:annotation>
                    <xs:documentation>At least one paragraph </xs:documentation>
                </xs:annotation>
                <xs:element ref="para" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attributeGroup ref="genericPropertiesGroup"/>
            <xs:attribute name="type" type="xs:string" use="optional" default="chapter">
                <xs:annotation>
                    <xs:documentation>
                        The type or role for the paragraph asn in data-role or epub:type
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="book">
        <xs:annotation>
            <xs:documentation>The main book element and it's children</xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:annotation>
                <xs:documentation>A sequence of one metadat section followed by 1 or more sections</xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element ref="metadata" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="section" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attributeGroup ref="genericPropertiesGroup"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
